.hero {
  row-gap: var(--section-padding-y);
  display: flex;
  flex-direction: column;

  @include desktop {
    row-gap: 60px;
  }

  &__main {
    display: flex;
    align-items: start;
    justify-content: space-between;
    column-gap: 30px;

    @include mobile {
      flex-direction: column;
    }
  }

  &__body {
    max-width: 531px;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    align-items: start;

    @include mobile {
      display: contents;
    }
  }

  &__title {
    @include mobile {
      order: -2;
      margin-bottom: 10px;
    }
  }

  &__description {
    font-size: 20px;
    line-height: 1.4;
    
    @include mobile {
      margin-bottom: 40px;
    }
  }

  &__button {
    @include mobile {
      width: 100%;
      max-width: 390px;
      margin:0 auto;
    }
  }

  &__image {
    @include tablet {
      max-width: 40%;
      height: auto;
    }

    @include mobile {
      max-width: 100%;
      order: -1;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__partners {

    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 37px;

      @include tablet {
        display: grid;
        row-gap:20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
      }

      @include mobile-s {
        column-gap: 0;
        --hero-partners-width-offset_x:60px;
        width: calc(100vw + var(--hero-partners-width-offset_x) * 2);
        margin-left:calc(var(--hero-partners-width-offset_x) * -1 - var(--container-padding-x));

      }
    }

    &-item {
      @include tablet {
        display: flex;
        justify-content: center;
      }

      @include mobile-s {
        justify-content: start;

        &:nth-child(-n+3) {
          justify-content: end;
          margin-left:10px;
          translate:30px 0;
        }
      }


    }

    &-image {
      filter: grayscale(100%);


    }
  }
}