.pagination {


  &__list {
    display: flex;
    column-gap: 20px;
  }

  &__button {
    @include reset-button;
    @include flex-center;
    @include square(24);
    color:currentColor;

    @include hover {
      color: var(--color-accent);
    }

    &.is-current {
      color: var(--color-accent);
    }
  }
}