.services{

  &__list {
    &:not(:last-child){
      margin-bottom: 100px;

      @include desktop {
        width: max-content;
        margin: 0 auto;
      }

      @include mobile {
        margin-bottom: 70px;
      }
    }
  }

  &__item {
    @include desktop {
      margin-inline: auto;
      width: 100%;
    }
  }
}